<!DOCTYPE html>
<html>
    <head>
        <title>Menu Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/menu.css">

    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>

         <!--    DUMMY TABLE
        **** Databse testing ****
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th> 
                    <th>Category</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>

           
                <% items.forEach(function(item) { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td><%= item.price %></td>
                        <td><%= item.category %></td>
                        <td><%= item.image %></td>  // Must insert into <img src=> tag for this to work
                    </tr>
                <% }); %> 

            </tbody>
        </table> -->

        <!-- Jumbotron -->
    <div class="main-content-container">
        <div class="jumbotron" style="background-size: cover;">
            <div class="container" style="width: 35%; margin-top: 5%; padding: 5%; background-color: white; border-radius: 2%;">
                <h5 style="text-align: center;">Order Food Online Now!</h5>
                <input class="form-control" type="search" placeholder="Search for a dish...">
            </div>
        </div>   

        <div class="lower-content-container">
            <div class="lower-mid-container">

                <!-- Appetizers -->
                <div class="appetizers menu-category">
                    <h1>Appetizers</h1>
                    <div class="category-body">
                        <% items.forEach(function(item) { %>
                            <% var itemVar = item.name.replace(/\s/g, ''); %>
                            <% if (item.category == "Appetizers") { %>
                                <div class="menu-thumbnail">
                                    <div class="item-left">
                                        <img src="images/<%= item.image %>" alt="<%= item.name %>">
                                    </div>
                                    
                                    <div class="item-right" id="<%= itemVar %>">
                                        <div class="item-name"><%= item.name %></div>
                                        <div class="item-cuisine"><%= item.cuisine %></div>
                                        <button type="button" class="btn btn-primary modal-btn modal-trig">
                                            +
                                        </button>
                                        <div class="item-price">$<%= item.price %></div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <!-- Main Dishes -->
                <div class="main-dishes menu-category">
                    <h1>Main Dishes</h1>
                    <div class="category-body">
                        <% items.forEach(function(item) { %>
                            <% var itemVar = item.name.replace(/\s/g, ''); %>
                            <% if (item.category == "Main Dishes") { %>
                                <div class="menu-thumbnail">
                                    <div class="item-left">
                                        <img src="images/<%= item.image %>" alt="<%= item.name %>">
                                    </div>
                                    <div class="item-right" id="<%= itemVar %>">
                                        <div class="item-name"><%= item.name %></div>
                                        <div class="item-cuisine"><%= item.cuisine %></div>
                                        <button type="button" class="btn btn-primary modal-btn modal-trig">
                                            +
                                        </button>
                                        <div class="item-price">$<%= item.price %></div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <!-- Sides -->
                <div class="sides menu-category">
                    <h1>Sides</h1>
                    <div class="category-body">
                        <% items.forEach(function(item) { %>
                            <% var itemVar = item.name.replace(/\s/g, ''); %>
                            <% if (item.category == "Sides") { %>
                                <div class="menu-thumbnail">
                                    <div class="item-left">
                                        <img src="images/<%= item.image %>" alt="<%= item.name %>">
                                    </div>
                                    <div class="item-right" id="<%= itemVar %>">
                                        <div class="item-name"><%= item.name %></div>
                                        <div class="item-cuisine"><%= item.cuisine %></div>
                                        <button type="button" class="btn btn-primary modal-btn modal-trig">
                                            +
                                        </button>
                                        <div class="item-price">$<%= item.price %></div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <!-- Drinks -->
                <div class="drinks menu-category">
                    <h1>Drinks</h1>
                    <div class="category-body">
                        <% items.forEach(function(item) { %>
                            <% var itemVar = item.name.replace(/\s/g, ''); %>
                            <% if (item.category == "Drinks") { %>
                                <div class="menu-thumbnail">
                                    <div class="item-left">
                                        <img src="images/<%= item.image %>" alt="<%= item.name %>">
                                    </div>
                                    <div class="item-right" id="<%= itemVar; %>">
                                        <div class="item-name"><%= item.name %></div>
                                        <div class="item-cuisine"><%= item.cuisine %></div>
                                        <button type="button" class="btn btn-primary modal-btn modal-trig">
                                            +
                                        </button>
                                        <div class="item-price">$<%= item.price %></div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>


                <!-- Sample filter (left) *TEMPORARY* -->
                <div class="filter">
                    <p class="filter-item" id="whole-menu">Whole Menu</p>
                    <p class="filter-item" id="appetizers">Appetizers</p>
                    <p class="filter-item" id="main-dishes">Main Dishes</p>
                    <p class="filter-item" id="sides">Sides</p>
                    <p class="filter-item" id="drinks">Drinks</p>
                </div>
        
                <!-- Sample order summary (right) -->
                <div class = "lower-right-container">
                    <div id="order-summary-div" class="col-3">
                        <div class="order-summary">
                            Order Summary
                        </div>
                        <div>
                            <div class="fixed-scroll">
                                <div class="summary-item row">
                                    <span class="thumbnail thumb-img">1</span>
                                    <p> Food Name<br>
                                    <span style="font-style: italic;">Options</span></p>
                                    <span class="thumbnail summary-price">$00.00</span>
                                </div>
                                <hr class="divider">
                                <div class="summary-item row">
                                    <span class="thumbnail thumb-img">2</span>
                                    <p> Food Name<br>
                                    <span style="font-style: italic;">Options</span></p>
                                    <span class="thumbnail summary-price">$00.00</span>
                                </div>
                                <div class="summary-item row">
                                    <span class="thumbnail thumb-img">3</span>
                                    <p> Food Name<br>
                                    <span style="font-style: italic;">Options</span></p>
                                    <span class="thumbnail summary-price">$00.00</span>
                                </div>
                                <div class="summary-item row">
                                    <span class="thumbnail thumb-img">4</span>
                                    <p> Food Name<br>
                                    <span style="font-style: italic;">Options</span></p>
                                    <span class="thumbnail summary-price">$00.00</span>
                                </div>
                            </div>
                            <div class="order-totals">
                                <br>
                                Subtotal: $00.00<br>
                                Tax: $00.00
                            </div>
                            <button id="cart-submit">Submit order</button>
                        </div>
                        <div class="order-summary">
                            <span>Total Price</span><span class="add-price">$00.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <form class="submitOrder">
        <% items.forEach(function(item) { %>
        <% var itemVar = item.name.replace(/\s/g, ''); %>
        <div class="modal fade bd-example-modal-lg" id="itemModal-<%= itemVar; %>" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <img style="width: 100%; border-radius: 25px" src="images/<%= item.image %>">
                                    <br></br>
                                    <p style="color:grey; font-weight: bold">Dietary Information</p>
                                    <p><b>Ingredients: </b> <%= item.ingredients %></p>
                                    <p><b>Tags: </b> <%= item.tags %></p>
                                </div>

                                <div class="col-md-5"> <!--Info Column-->
                                
                                    <h2 style="font-weight: bolder" class="name"><%= item.name %></h2>
                                    <h2 style="font-weight: 300"><%= item.description %></h2>

                                    

                                    <div class="item-details"> <!--Choosing Size with radio buttons-->
                                        <div class="item-details-box">
                                            <p class="detail">Choose Size</p>
                                            <p class="req-or-opt">Required</p>
                                        </div>
                                        <div class="forms">
                                            <div class="form-check"> 
                                                <input class="form-check-input" type="radio" name="size" value="Small" required>
                                                <label class="form-check-label" for="sizeRadios1">
                                                    Small
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="size" value="Medium">
                                                <label class="form-check-label" for="sizeRadios2">
                                                    Medium
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="size" value="Large">
                                                <label class="form-check-label" for="sizeRadios3">
                                                    Large
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-details"> <!--Choosing Sides with checkboxes-->
                                        <div class="item-details-box">
                                            <p class="detail">Sides</p>
                                            <p class="req-or-opt">Optional</p>
                                        </div>
                                        <div class="forms">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="side" value="XX">
                                                <label class="form-check-label" for="sideBox1">
                                                    XX
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="side" value="YY">
                                                <label class="form-check-label" for="sideBox2">
                                                    YY
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="side" value="ZZ">
                                                <label class="form-check-label" for="sideBox3">
                                                    ZZ
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-details"> <!--Providing special instructions-->
                                        <div class="item-details-box">
                                            <p class="detail">Special Instructions</p>
                                            <p class="req-or-opt">Optional</p>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" name="special"></textarea>
                                        </div>
                                    </div>

                                    <div class="item-details"> <!--Controlling quantity-->
                                        <div class="item-details-box">
                                            <p class="detail">Quantity</p>
                                        </div>
                                        <div class="quantity-buttons d-flex justify-content-center">
                                            <div class="num subtract">-</div>
                                                <span class="quantity">1</span>
                                            <div class="num add">+</div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-dark submit-btn">
                                    <div class="add-cart"><span class="cart-text">Add 1 to cart</span><span class="add-price">$00.00</span></div>
                                </button>

                            <div class="price">$<%= item.price %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>

        </form>
    </div>

    
    </body>

    

    

    <script src="/js/menu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>