<!DOCTYPE html>
<html>
    <head>
        <title>Orders Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/orders.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>
    </body>
    <% var globe; %>
    <script src="/js/orders.js"></script>
    <head>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
      </head>
      <body>
        <table id="example">
          <thead>
            <tr><th>Order ID</th><th>Total</th><th>Date</th><th>Completed</th><th>Details</th></tr>
          </thead>
          <tbody>
           <% orders.forEach(function(order) { %>
         
            <tr><td> <%= order.id %></td><td>$<%= order.total %></td><td><%= order.date %></td> 
              <td> <% if (order.completed) {  %>
                <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Completed</a>
                <% } %>
                <% if(order.completed === false) { %>
                  <button type="button" class="btn btn-lg btn-success" disabled>Uncompleted</button>
                <%} %>
              </td>
            
            <td><button type="button" onclick ="handleDisplay('<%= JSON.stringify(order) %>')" class="btn btn-primary" data-toggle="modal" data-target="#detailModal">
              Details
          </button></td></tr>
           <% }); %>
          </tbody>
        </table>

        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Order Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <h6>Ordered Items</h6>
                    <form action="/orders/updateOrder" method="POST">
                      <input name="name" type="text" class="form-control" id="displayItems" placeholder="Enter name" required>
                      <div class="list-group">
                        <button name="id" value= "theId" type="submit" class="list-group-item list-group-item-action list-group-item-success btn btn-success">
                        Make Complete
                        </button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script>
        
        $(function(){
          $("#example").dataTable();
        })
        </script>
      </body>
</html>-->
